<h3>Parties:</h3>
<select (change)="onChange($event.target.value)">
  <option selected="selected"> </option>
  <option>Reunion</option>
  <option>Office Party</option>
  <option>Birthday Party</option>
</select>
<div *ngFor="let party of parties | async | partyType:partyFilter" >
  <h4 (click)="goToDetailPage(party)">{{party.name}}</h4>
  <p *ngIf="currentRoute != '/admin'">Host: {{party.host}}</p>
  <p *ngIf="currentRoute != '/admin'">Date: {{party.date}}</p>
  <p *ngIf="currentRoute != '/admin'">Goal: ${{party.goal}}</p>
  <span *ngIf ="currentRoute === '/admin'"><app-edit-party [selectedParty]="party"></app-edit-party></span>
</div>
